.gallery_wrap {
	width: 100%;
	z-index: 9;
	position: relative;
	background: lighten($black, 75);
	padding: 40px 100px 60px;
	h2 {
		// color:$white;
	}
	@media (max-width: $desktop-lg){
		padding: 20px 40px 40px;
	}
}


.gallery {
	padding: 0;
	@extend %fx;
	@extend %fx--between;
	li {
		position: relative;
		width: 15%;
		padding: 15% 0 0 0;
		background: $blue;
		box-shadow: 0 0 20px rgba($black, .35);
		overflow: hidden;
		transition: all .2s ease-in-out;
		cursor: pointer;
		&:hover {
			transform: scale(1.05);
		}
		@media (max-width: $desktop-lg){
			width: 30%;
			padding-bottom: 20%;
			margin-bottom: 10px;
		}
	}
	img {
		position: absolute;
		width: 100%;
		height: auto;
		top:50%;
		left:50%;
		transform: translate(-50%, -50%);
	}
}

.popup-portfolio {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background: rgba($black, .95);
	top:0;
	left:0;
	display:none;
	._content {
		@extend %fx;
		@extend %al--center;
		position: absolute;
		top:50%;
		left:50%;
		transform: translate(-50%, -50%);
		width: 80vw;
		@media(max-width: $desktop) {
			flex-direction: column;
		}
	}
	p {
		color: rgba($white, .65);
	}
	h2 {
		color: $white;
	}
	._img {
		width: 75%;
		text-align: center;
	}
	._desc {
		width: 20%;
		@media(max-width: $desktop) {
			width: 100%;
			text-align: center;
		}
	}
	img {
		width: auto;
		height: auto;
		max-width: 90%;
		max-height:75vh;
		@media(max-width: $desktop) {
			max-height:65vh;
		}
	}
	&.is-active {
		display: block;
	}
}

.close-gallery {
	position: absolute;
	top: 20px;
	right: 20px;
	background: $blue;
	border-radius: 50%;
	width: 35px;
	height: 35px; 
	line-height: 35px;
	text-align: center;
	color: $white;
	cursor: pointer;
	@media(max-width: $tablet) {
		top: 50px;
	}
}