// TYPOGRAPHY
// --------------------

h1, h2, h3, h4, h4, h5, h6 {
	color: $blue;
}

h1 {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 3.5em;
	@media(max-width: $phablet) {
		font-size: 2em;
	}
}

h2 {
	font-size: 2em;
}

p {
	line-height: 1.75em;
}

a {
	transition: all .2s ease-in-out;
}