*, 
*:after, 
*:before {
	box-sizing: border-box;
}

html,
body {
	background: $white;
	font-family: "Helvetica", "Arial", sans-serif;
	font-size: 16px;
	overflow-x: hidden; 
	scroll-behavior: smooth;
}