// COLORS
// ---------------------

$blue: #1e67aa;
$blue-dark: #19548a;
$black: #232323;
$red: #d61820;
$yellow: #fef200;
$white: #fff;
$orange: #db7817;


$phone-xs: 400px;
$phone: 550px;
$phablet: 620px;
$tablet: 767px;
$desktop: 1024px;
$desktop-lg: 1280px;
$desktop-xl: 1980px;